# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# FastAPI / logs
*.log

# Database
*.db
*.sqlite3

# Uploads (VERY IMPORTANT)
uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
